<!DOCTYPE html>
<html>
<head>
    <title>Gauzip</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Parisienne" rel="stylesheet">
</head>

<body>
    <%= render 'layouts/header'%>
    <div class="body">
      <%= render 'layouts/alerts'%>
      <%= yield %>
    </div>
  <%= render 'layouts/footer'%>

</body>
</html>
